@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
/* font-family: 'Amiri', serif; */

.Portfolio {
    background-image: url('/src/assets/moonjellies.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    min-height: 87.8vh;
    font-family: 'Amiri', serif;
    padding-top: 6rem;
}