@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
/* font-family: 'Amiri', serif; */

.Portfolio {
    background-image: url("https://i.imgur.com/GmUMliM.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    min-height: 83.6vh;
    font-family: 'Amiri', serif;
    padding-top: 6rem;
}

.container {
    padding-top: 0 !important;
}

.cantSee {
    background-color: #212529;
    padding: 2px;
    font-family: 'Amiri', serif;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: white;
}

.CarouselHug {
    background-color: #212529;
    padding: 4%;
    min-width: 45vw;
    max-height: 67vh;
}